div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 10px;
    /*transition: width, background 5s;
    transition-delay: 1s;*/
    position: relative;
    animation-name: coloresGradiente;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.flex-container {
    display: flex;
}

/*
/* #div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;} */

div:hover {
    width: 300px;
    background: red;
}
*/

@keyframes coloresGradiente {
    0%  {background-color: red; left: 0px; top: 0px;}
    25% {background-color: yellow; left: 200px; top: 0px;}
    50% {background-color: maroon; left: 200px; top: 200px}
    75% {background-color: mediumslateblue; left: 0px; top: 200px;}
    100%    {background-color: mediumspringgreen; left: 0px; top: 0px;}
}

/* CSS Transitions
CSS transitions allows you to change property values smoothly, over a given duration.

How to Use CSS Transitions?
To create a transition effect, you must specify two things:

-the CSS property you want to add an effect to
-the duration of the effect
Note: If the duration part is not specified, the transition will have no effect, because the default value is 0.
div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}
The transition effect will start when the specified CSS property (width) changes value.

Now, let us specify a new value for the width property when a user mouses over the <div> element:
div:hover {
  width: 300px;
}
Change Several Property Values
The following example adds a transition effect for both the width and height property, with a duration of 2 seconds for the width and 4 seconds for the height:
transition: width 2s, height 4s;

Specify the Speed Curve of the Transition
The transition-timing-function property specifies the speed curve of the transition effect.

The transition-timing-function property can have the following values:

    ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
    linear - specifies a transition effect with the same speed from start to end
    ease-in - specifies a transition effect with a slow start
    ease-out - specifies a transition effect with a slow end
    ease-in-out - specifies a transition effect with a slow start and end
    cubic-bezier(n,n,n,n) - lets you define your own values in a cubic-bezier function

transition
transition-delay
transition-duration
transition-property
transition-timing-function

Delay the Transition Effect
The transition-delay property specifies a delay (in seconds) for the transition effect.

The following example has a 1 second delay before starting: transition-delay: 1s;


    */