.wrapper{
    display: flex;
    flex-flow: row wrap; 
    font-weight: bold;
    text-align: center;
}
/* Con el > generamos una pseudoclase a wrapper (ver concepto). */
.wrapper > *{
    padding: 10px;
    flex: 1 100%;
    /* 1=flex-grow y 100% flex-basis, VER!! */
    /* El 1 indica al 1er contenedor (1ra columna seria en este caso) que ucupe el 100% de la fila, investigar bien */
}
.header{
    background: violet;
}
.footer{
    background: whitesmoke;
}
.main{
    text-align: left;
    background: deepskyblue;
}
.aside-1{
    background: gold;
}
.aside-2{
    background: green;
}

/* Vamos a usar etiquetas de las clases */
