*{
    margin: 0px;
    padding-top: 0px;
    box-sizing: 0px;
}
/* Hay que aplicarlo al principio para resetear el ordenador?? */

body{
    background-image: linear-gradient(90deg, white, pink);
}

h1, h2, h3, p{
    margin-top: 10px;
    background-color: darkgoldenrod;
}
h1, .claseDos{
    font-size: 40px;
}