.formulario {
    display: grid;
    grid-template-columns: 10rem 1rem;
    gap: 5rem;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario_incorrecto {
    color: red;
}

.formulario_correcto {
    color: green;
}

.mostrar_mensaje_error {
    display: block;
}

.ocultar_mensaje_error {
    display: none;
}